<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteBase /sherif2
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(images|photos|css|js|robots\.txt)
RewriteRule ^(.*)$ index.php?url=$1 [L]
</IfModule>